//main font stack
$font_reg: 		'latoregular', sans-serif;
$font_light:    'latolight', sans-serif;
$font_thin:     'latohairline', sans-serif;
$font_bold:     'latobold', sans-serif;

//colours
$background:                #202020;
$yellow:                    #f8a500;
$blue:                      #56a0ed;
$white:                     #fff;













